.mainContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

@media (max-width: 900px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media (max-width: 600px) {
  .mainContainer {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}
